{%extends "layout.html"%}

{%block title%} <title> Destinations </title>{%endblock%} 

{%block main%}
<section class ="destination-list">
<br>
    <h3> Our Most Exotic Destinations</h3>
    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static",filename="/images/abu.jpg")}}">
          </a>
        </div>
        <h5>A</h5>
        <li>Abu Dhabi,</li>
        <li>Argentina,</li>
        <li>Australia</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static",filename="/images/brazil.jpg")}}">
          </a>
        </div>
        <h5>B</h5>
        <li>Bangkok,</li>
        <li>Brazil,</li>
        <li>Budapest</li>
    </ul> 
 
    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static", filename="/images/china.jpg")}}" > </a>
        </div>
        <h5>C</h5>
        <li>Cambodia,</li>
        <li>Canada,</li>
        <li>China,</li>
        <li>Colombia,</li>
        <li>Cuba</li>
    </ul>

    <ul>
    <div class="gallery">
        <img width="500" height="400"src="{{url_for("static", filename="/images/dubai.jpg")}}" > </a>
    </div>
        <h5>D</h5>
        <li>Dubai</li>
    </ul>

    <ul>
        <div class="gallery">
              <img width="500" height="400"src="{{url_for("static", filename="/images/egypt.jpg")}}" > </a>
        </div>
        <h5>E</h5>
        <li>Egypt,</li>
        <li>England,</li>
        <li>Ethiopia</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/greece.jpg")}}" > </a>
        </div>
        <h5>G</h5>
        <li>Georgia,</li>
        <li>Germany,</li>
        <li>Greece</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/hongkong.jpg")}}" > </a>
        </div>
        <h5>H</h5>
        <li>Hawaii,</li>
        <li>Hong Kong,</li>
        <li>Hungary</li>
    </ul>
 
    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/iceland.jpg")}}" > </a>
        </div>
        <h5>I</h5>
        <li>Iceland,</li>
        <li>India,</li>
        <li>Indonesia,</li>
        <li>Ireland,</li>
        <li>Italy</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/japan.jpg")}}" > </a>
        </div>
        <h5>J</h5>
        <li>Japan</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/kenya.jpg")}}" > </a>
        </div>
        <h5>K</h5>
        <li>Kenya</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/london.jpg")}}" > </a>
        </div>
        <h5>L</h5>
        <li>Laos,</li>
        <li>London,</li>
        <li>Los Angeles</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/mexico.jpg")}}" > </a>
        </div>
        <h5>M</h5>
        <li>Malaysia,</li>
        <li>Maldives,</li>
        <li>Mexico,</li>
        <li>Mumbai</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"src="{{url_for("static", filename="/images/newyork.jpg")}}" > </a>
        </div>
        <h5>N</h5>
        <li>New York,</li>
        <li>New Zealand</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"
                src="{{url_for("static", filename="/images/paris.jpg")}}" ></a>
        </div>
        <h5>P</h5>
        <li>Paris,</li>
        <li>Peru,</li>
        <li>Philippines,</li>
        <li>Portugal</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static", filename="/images/rome.jpg")}}" > </a>
      </div>
        <h5>R</h5>
        <li>Rome</li>
    </ul>

    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static", filename="/images/australia.jpg")}}" > </a>
      </div>
        <h5>S</h5>
        <li>Seoul,</li>
        <li>Shanghai,</li>
        <li>Singapore,</li>
        <li>Spain,</li>
        <li>Sydney</li>
    </ul>
    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static", filename="/images/thailand.jpg")}}" > </a>
        </div>
        <h5>T</h5>
        <li>Taiwan,</li>
        <li>Thailand,</li>
        <li>Tokyo</li>
        <li>Turkey</li>
    </ul>    
    <ul>
        <div class="gallery">
            <img width="500" height="400"
            src="{{url_for("static", filename="/images/vietnam.jpg")}}" > </a>
        </div>
        <h5>V</h5>
        <li>Vietnam</li>
    </ul>
</section> 
{%endblock%}
